# Ignore macOS system files
.DS_Store

# Ignore VS Code local settings
.vscode/

# Ignore compiled binary executables
*.out
*.dSYM/

# 1. Block EVERYTHING that starts with "p" or "s" inside any folder
**/[ps][0-9]*

# 2. EXCEPTION: Let all C++ source code files pass through
!**/*.cpp